<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>530021295130-g8sgtrqd27bmc4d76dp2ka3e98ajkast.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.530021295130-g8sgtrqd27bmc4d76dp2ka3e98ajkast</string>
	<key>API_KEY</key>
	<string>AIzaSyAQcDBiFeULF8hjeCLfnxRVrmM8VXI9KkM</string>
	<key>GCM_SENDER_ID</key>
	<string>530021295130</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kuntatz.kuto</string>
	<key>PROJECT_ID</key>
	<string>kuto-8c190</string>
	<key>STORAGE_BUCKET</key>
	<string>kuto-8c190.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:530021295130:ios:37c329db226e16b8</string>
	<key>DATABASE_URL</key>
	<string>https://kuto-8c190.firebaseio.com</string>
</dict>
</plist>